::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("nature.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
    width: 100vw;
    overflow: hidden;
}

.j-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-form {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 25px 0;
    overflow: hidden;
    /* Ensure content doesn't overflow */
}

.header {
    text-align: center;
    font-size: 28px;
    color: #AC17B5;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-parts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image-part {
    flex: 1;
    padding: 10px;
    max-width: 50%;
    /* Ensure responsiveness */
}

.image-part img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Hide image on small screens */
@media (max-width: 768px) {
    .image-part {
        display: none;
        /* Hide image part on small screens */
    }
}

.form-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    color: #fff;
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

input:focus {
    border: 1px solid #fff;
    outline: none;
}

.gender-selection {
    display: flex;
    align-items: center;
}

.gender-selection input[type="radio"] {
    margin-right: 5px;
    margin-bottom: -4px;
}

.gender-selection label {
    margin-right: 15px;
    cursor: pointer;
}

.acc-info,
.link {
    color: #fff;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #AC17B5;
    color: #fff;
    cursor: pointer;
    margin: 10px auto;
    font-size: 20px;
    transition: background-color 0.3s ease;
    width: 30%;
}

button:hover {
    background-color: #96177d;
}

/* Responsive styles */
@media (max-width: 768px) {
    .signup-form {
        padding: 10px;
        margin: 10px 0;
    }

    .header {
        font-size: 24px;
    }

    .form-parts {
        flex-direction: column;
        /* Stack form parts vertically */
    }

    .form-part {
        max-width: 100%;
        /* Ensure full width on small screens */
    }

    button {
        width: 100%;
        /* Full width buttons on small screens */
    }
}

/* chat css */


.chat-box {
    display: flex;
    flex-direction: column;
    height: 80vh;
    min-width: 35vw;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow-x: auto;
}

.user {
    position: relative;
    width: 85%;
    height: 60px;
    border-bottom: 2px solid lightgray;
    border-radius: 30px;
    margin: 25px;
    padding: 4px;
    display: flex;
    align-items: center;
}

.sec-user {
    background-color: aqua;
    color: black;
}

.user img {
    height: 50px;
    width: 50px;
    margin-right: 8px;
}

.user-info {
    display: inline;
    white-space: nowrap;
}

.status {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.status .online {
    color: green;
    font-weight: bold;
    padding-right: 15px;
    text-shadow: 0px 0px 2px white;
}
.status .offline {
    color: black;
    font-weight: bold;
    padding-right: 15px;
    text-shadow: 0px 0px 2px white;
}

.chat-users-headers {
    position: fixed;
    top: 0;
    text-align: center;
    left: 0;
    width: 100%;
    color: black;
    padding: 7px;
    background-color: gray;
    z-index: 1000;
}

.chat-container {
    position: relative;
    height: 80vh;
    overflow-y: auto;
    padding-top: 70px;
    overflow-x: hidden;
}

.message-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    padding: 10px;
    background-color: gray;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.message-header img {
    height: 50px;
    width: 50px;
    margin-right: 8px;
}

/* General message styling */

.message-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 10px;
}

.message-container .message {
    min-height: 25px;
    margin: 10px 20px;
    padding: 10px;
    color: white;
    border-radius: 15px;
}

.message-container .sent{
    justify-self: flex-end;
    background-color: lightseagreen;
}

.message-container .recieved{
    justify-self: flex-start;
    background-color:#555;
}

/* logout button css*/

.logout {
    color: red;
    font-weight: bold;
}

.logout:hover {
    text-decoration: underline;
}

.not-select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.not-select h1 {
    font-size: 50px;
    position: relative;
    top: -50px;
}

.not-select p {
    font-size: 20px;
}

.send-message-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.message-input {
    width: 90%;
    margin-bottom:0px ;
    background-color: #555;
}

.send-button {
    height: 47px
}

.no-convo-text{
    text-align: center;
    padding: 10px;
    color: black;
}

/* Home page css  */

.main-home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure full viewport height */
     /* background: #f4f4f4;  */
}

.home-page {
    height: 76vh;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 15px;
    padding: 20px;
}

.home-parts {
    margin-top: 28px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.text {
    margin: 30px;
    font-size: 1.2rem; /* Slightly increase font size */
    color: white; /* Darker color for better contrast */
    line-height: 1.6; /* Improve readability */
    font-weight: 500; /* Add some weight to the text */
    max-width: 60%; /* Adjust text width for better layout */
}

.text h1 {
    font-size: 4rem; /* Size of the header */
    margin-bottom: 20px; /* Space below the header */
    font-weight: bold;
}

.text .welcome {
    color: black; /* Color for 'Welcome to' */
}

.text .ichat {
    color: purple; /* Color for 'IChat' */
}

.signup-btn {
    margin-top: 20px;
    text-align: center;
}

.signup-btn button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.signup-btn button:hover {
    background-color: #96177d;
}

.home-page .pic img {
    height: 350px;
    width: 350px;
    padding: 20px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
    .home-page {
        padding: 20px;
    }

    .home-parts {
        flex-direction: column; /* Stack text and image vertically on small screens */
    }

    .text, .home-page .pic img {
        max-width: 100%; /* Ensure text and image use full width */
    }
}
